<p>
  <th>Tweets</th>
  <th><%= current_user.tweets.count %></th>
<p>
<p>
  <th>Followers</th>
  <th><%= current_user.followers.count %></th>
</p>
<p>
  <th>Following</th>
  <th><%= current_user.following.count %>s</th>
</p>